.shop__product-item_selected {
    background: #c4c3c3 !important;
}
.shop__product-item {
    cursor: pointer;
}
.shop__product-name {
    width: 250px;
    font: bold 1.2em sans-serif;
}
.shop__product-author {
    width: 160px;
}
.shop__product-price,
.shop__product-rest-amount {
    width: 100px;
}
.shop__product-img {
    width: 50px;
    height: auto;
    margin: 5px;
    transition: all 0.3s ease-in;
}
.shop__product-img:hover {
    transform: scale(1.5);
    transition: all 0.3s ease-in;
}
.shop__delete-button,
.shop__edit-button {
    width: 45px;
    margin: 0px 2px;
    padding: 2px;
    cursor: pointer;
}