.product-card {
    width: 220px;
    height: 300px;
    margin: 10px;
    padding: 0px 5px 10px 5px;
    border: solid 2px black;
    border-radius: 5px;
}
.product-card__img {
    display: inline-block;
    margin: 0px auto 5px auto;
    width: 150px;
    height: auto;
    border-radius: 5px;
}
.product-card__name {
    text-align: center;
}